name: Discord webhook test

on:
  push:
    branches:
      - discord-webhook-test

jobs:
  use_webhook:
    runs-on: ubuntu-latest
    steps:
    - uses: sarisia/actions-status-discord@v1
      if: always()
      with:
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        status: ${{ job.status }}
        content: "Status notification"
        title: "Deploy"
        description: "Build, test and deploy new version of pokedex"
        image: ${{ secrets.EMBED_IMAGE }}
        color: 0x0000ff
        url: "https://github.com/sarisia/actions-status-discord"
        username: GitHub Actions
        avatar_url: ${{ secrets.AVATAR_URL }}