name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

env:
  JOINED_COMMIT_MESSAGES: ${{ join(github.event.commits.*.message, ', ') }}
  SKIP_STRING: "#skip"

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    outputs:
      skip_release: ${{ steps.release_status.outputs.skip_release }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run eslint
      - name: Build
        run: npm run build
      - name: Test components
        run: npm test
      - name: Install E2E browsers
        run: npx playwright install --with-deps
      - name: Test end-to-end
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - id: release_status
        env:
          SKIP_TAG: ${{ contains(env.JOINED_COMMIT_MESSAGES, env.SKIP_STRING) }}
        run: |
          env
          echo "skip_release=$SKIP_TAG" >> "$GITHUB_OUTPUT"

  deploy_and_release:
    needs: [lint_and_test]
    if: ${{ needs.lint_and_test.outputs.skip_release == 'false' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        if: ${{ false }}
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"
      - name: Bump version and push tag
        if: ${{ false }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
        uses: anothrNick/github-tag-action@1.75.0
