name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

env:
  JOINED_COMMIT_MESSAGES: ${{ join(github.event.commits.*.message, ', ') }}
  SKIP_STRING: "#skip"
  EVENT_TYPE: ${{ github.event_name}}

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    outputs:
      skip_release: ${{ steps.release_status.outputs.skip_release }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm install
      - id: release_status
        name: Check for skip tag in commit message
        env:
          SKIP_TAG: ${{ contains(env.JOINED_COMMIT_MESSAGES, env.SKIP_STRING) }}
          EVENT_TYPE: ${{ env.EVENT_TYPE }}
        run: |
          echo "$SKIP_TAG"
          echo "$EVENT_TYPE"
          echo "skip_release=$SKIP_TAG" >> "$GITHUB_OUTPUT"
      - name: Lint
        run: npm run eslint
      - name: Build
        run: npm run build
      - name: Test components
        run: npm test
      - name: Install E2E browsers
        run: npx playwright install --with-deps
      - name: Test end-to-end
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  deploy_and_release:
    needs: [lint_and_test]
    if: ${{ needs.lint_and_test.outputs.skip_release == 'false' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy new version of app
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: curl "$deploy_url"
      - name: Bump version and push tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
        uses: anothrNick/github-tag-action@1.75.0

  notify_status:
    needs: [lint_and_test, deploy_and_release]
    if: ${{ always() && (needs.lint_and_test.outputs.skip_release == 'false') }}
    runs-on: ubuntu-latest
    env:
      TEST_SUCCESS: ${{ needs.lint_and_test.result == 'success' }}
      DEPLOY_SUCCESS: ${{ needs.deploy_and_release.result == 'success' }}
    steps:
      - name: Print env variables
        run: |
          echo "$TEST_SUCCESS"
          echo "$DEPLOY_SUCCESS"
      - name: Success notification
        if: ${{ (env.TEST_SUCCESS == 'true') && (env.DEPLOY_SUCCESS == 'true') }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: "success"
          content: "Build status notification"
          title: "Deploy"
          description: "Build, test and deploy new version of pokedex"
          image: ${{ secrets.EMBED_IMAGE }}
          color: 0x0000ff
          url: "https://github.com/sarisia/actions-status-discord"
          username: GitHub Actions
          avatar_url: ${{ secrets.AVATAR_URL }}
      - name: Cancelled notification
        if: ${{ (env.TEST_SUCCESS == 'true') && (env.DEPLOY_SUCCESS == 'false') }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: "cancelled"
          content: "Build status notification"
          title: "Deploy"
          description: "Build, test and deploy new version of pokedex"
          image: ${{ secrets.EMBED_IMAGE }}
          color: 0x0000ff
          url: "https://github.com/sarisia/actions-status-discord"
          username: GitHub Actions
          avatar_url: ${{ secrets.AVATAR_URL }}
