name: Testing stuff

on:
  push:
    branches:
      - github-object-testing

jobs:
  a_test_job:
    runs-on: ubuntu-latest
    env:
      JOINED_COMMIT_MESSAGES: ${{ join(github.event.commits.*.message, ', ') }}
      SKIP_STRING: "#skip"
    steps:
      - uses: actions/checkout@v4
      - name: github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
        run: echo "$COMMIT_MESSAGES"
      - name: joined commit messages
        env: 
          COMMIT_MESSAGES_STRING: ${{ join(toJson(github.event.commits.*.message)) }}
        run: echo "$COMMIT_MESSAGES_STRING"
          
