name: Testing stuff

on:
  push:
    branches:
      - github-object-testing

jobs:
  a_test_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
        run: echo "$COMMIT_MESSAGES"
      - name: joined array
        env: 
          JOINED_ARRAY: ${{ join(github.event.commits.*.message, ', ') }}
        run: echo "$JOINED_ARRAY"
      - name: joined array includes string
        env:
          CONTAINS_STRING: ${{ contains(join(github.event.commits.*.message, ', '), 'Update' }}
        run: echo "$CONTAINS_STRING"
          
